#pragma once

#include <ESP8266WiFi.h>
#include <pgmspace.h>
#include "battery_type.h"

BatteryType battery_type = BatteryType::meb12s;

constexpr char ssid[] = "WIFI_SSID";
constexpr char password[] = "WIFI_PASS";

constexpr char mqtt_server[] = "mosquitto.local";
constexpr uint16_t mqtt_port = 8883;
constexpr char mqtt_username[] = "mosquitto_user";
constexpr char mqtt_password[] = "mosquitto_pass";
/* anonymous login:
constexpr char *mqtt_username = nullptr;
constexpr char *mqtt_password = nullptr;
*/

const char mqtt_cert[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
INSERT PEM CERTIFICATE HERE
-----END CERTIFICATE-----
)EOF";
inline X509List mqtt_cert_store(mqtt_cert);
