#ifndef EASYBMS_SLAVE_CREDENTIALS_H
#define EASYBMS_SLAVE_CREDENTIALS_H

#include <pgmspace.h>

constexpr char ssid[] = "WIFI_SSID";
constexpr char password[] = "WIFI_PASS";

constexpr char mqtt_server[] = "mosquitto.local";
constexpr uint16_t mqtt_port = 8883;
constexpr char mqtt_username[] = "mosquitto_user";
constexpr char mqtt_password[] = "mosquitto_pass";

const char mqtt_cert[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
INSERT PEM CERTIFICATE HERE
-----END CERTIFICATE-----
)EOF";
inline X509List mqtt_cert_store(mqtt_cert);

#endif //EASYBMS_SLAVE_CREDENTIALS_H
